@font-face {
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: normal;
    src: url('https://anosatsuk124.github.io/philos_psych/original/yumin.woff') format('woff');
}
@font-face {
    font-family: 'Yu Mincho';
    font-style: italic;
    font-weight: normal;
    src: url('https://anosatsuk124.github.io/philos_psych/original/yumin.woff') format('woff');
}

@font-face {
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: bold;
    src: url('https://anosatsuk124.github.io/philos_psych/original/yumin.woff') format('woff');
}

@font-face {
    font-family: 'Yu Mincho';
    font-style: italic;
    font-weight: bold;
    src: url('https://anosatsuk124.github.io/philos_psych/original/yumin.woff') format('woff');
}

:root {
	--active-file-bg-color: #dadada;
	--active-file-bg-color: rgba(32, 43, 51, 0.63);
	--active-file-text-color: white;
	--bg-color: #FFFFFF;
	--text-color: #1f0909;
	--control-text-color: #444;
	--rawblock-edit-panel-bd: #e5e5e5;

	--select-text-bg-color: rgba(32, 43, 51, 0.63);
	--select-text-font-color: white;
}

pre {
	--select-text-bg-color: #36284e;
	--select-text-font-color: #fff;
}

html {
	font-size: 14px;
}

html, body {
	background-color: #FFFFFF;
	font-family: "Yu Mincho", 'Times New Roman', Times, serif;
	color: #1f0909;
	line-height: 14px;
        margin: 25mm;
}

#write {
	overflow-x: visible;
	max-width: 644x;
}

@media print{
@page {
    size: A4 portrait;
    margin: 6mm;
  }

 

  /* {
    -webkit-print-color-adjust: exact;
  }*/
 
 



/*余白*/
#write {
	max-width: 644px;
}

ol li {
	list-style-type: decimal;
	list-style-position: outside;
	padding-bottom: 0.5em;
}
ul li {
	list-style-type: disc;
	list-style-position: outside;
	padding-bottom: 0.5em;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* styles */

/* ====== */

/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}
h1 {
	font-size: 25px;
	/*30 / 16*/
	line-height: 25px;
	/* 48 / 30*/
	text-align:  center;
}
h2,h3 {
	font-size: 20px;
	/*21 / 16*/
	line-height: 20px;
	/*24 / 21*/
	margin-top: 2.285714em;
	/*48 / 21*/
	margin-bottom: 1em;
	/*24 / 21*/
	counter-increment: chapter;
	counter-reset: section;
}
h3 {
	font-weight: normal;
}
h2:before {
    content: counter(chapter) ". ";
    color: #000000;
}

h4 {
	font-size: 16px;
	/*18 / 16*/
	margin-top: 1em;
	/*48 / 18*/
	counter-increment: subsection;
}
h4:before {
    content: counter(chapter) "." counter(section) "." counter(subsection) ". ";
    color: #000000;
}

h5,
h6 {
	font-size: 15px;
	marging-top: 0.5em;
	margin-botttom: 0.5em;
	/*16*/
}


h3 {
    font-size: 18px;
    margin-top: 1em;
    counter-increment: section;
    counter-reset: subsection;
    clear: right;
}
h3:before {
    content: counter(chapter) "." counter(section) ". " ;
    color: #000000;
}

/* links */

a {
	text-decoration: none;
	color: #065588;
}
a:hover,
a:active {
	text-decoration: underline;
}
/* block spacing */

p,
blockquote,
.md-fences {
	margin-bottom: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 1.5em;
}
/* blockquote */

blockquote {
	font-style: italic;
	border-left: 5px solid;
	margin-left: 2em;
	padding-left: 1em;
}

/* lists */

ul,
ol {
	margin: 0 0 0 1em;
}
/* tables */
.md-meta,.md-before, .md-after {
	background-color: transparent;
}

table {
	margin-bottom: 1.5em;
	/*24 / 16*/
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
	/* width: 100%; */
}
thead th,
tfoot th {
	padding: .25em .25em .25em .4em;
	text-transform: uppercase;
}
th {
	text-align: left;
}
td {
	vertical-align: top;
	padding: .25em .25em .25em .4em;
}

code,
.md-fences {
	background-color: transparent;
}

code {
	padding-left: 2px;
	padding-right: 2px;
}

.md-fences {
	margin-left: 2em;
	margin-bottom: 3em;
	padding-left: 1ch;
	padding-right: 1ch;
}

pre,
code,
tt {
	font-size: .875em;
	line-height: 1.714285em;
}
/* some fixes */

h1 {
	line-height: 1.3em;
	font-weight: normal;
	margin-bottom: 0.5em;
}

p + ul,
p + ol{
	margin-top: .5em;
}

h3 + ul,
h4 + ul,
h5 + ul,
h6 + ul,
h3 + ol,
h4 + ol,
h5 + ol,
h6 + ol {
	margin-top: .5em;
}



h2,
h3 {
	margin-bottom: .75em;
}
hr {
	border-top: none;
	border-right: none;
	border-bottom: 1px solid;
	border-left: none;
}
h1 {
	border-color: transparent;
}
blockquote {
	border-color: transparent;
	background-color: transparent;
	color: #000000;
}

blockquote ul,
blockquote ol {
	margin-left:0;
}

.ty-table-edit {
	background-color: transparent;
}
thead {
	background-color: transparent;
}
tr:nth-child(even) {
	background: transparent;
}
hr {
	height: 1px;
	width: 100%;
	border-color: #000000;
}
.task-list{
	padding-left: 1rem;
}

.md-task-list-item {
	padding-left: 1.5rem;
	list-style-type: none;
}

.md-task-list-item > input:before {
	content: '\221A';
	display: inline-block;
	width: 1.25rem;
  	height: 1.6rem;
	vertical-align: middle;
	text-align: center;
	color: #ddd;
	background-color: #FFFFFF;
}

.md-task-list-item > input:checked:before,
.md-task-list-item > input[checked]:before{
	color: inherit;
}

#write pre.md-meta-block {
	min-height: 1.875rem;
	color: #555;
	border: 0px;
	background: transparent;
	margin-top: -4px;
	margin-left: 1em;
	margin-top: 1em;
}

.md-image>.md-meta {
	color: #9B5146;
}

.md-image>.md-meta{
	font-family: Menlo, 'Ubuntu Mono', Consolas, 'Courier New', 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', serif;
}
