@font-face {
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: normal;
    src: local('YuMincho-Midium'), url('https://anosatsuk124.github.io/philos_psych/original/yumin.woff') format('woff');
}
body{
    font-family: 'Yu Mincho';
    text-align:center;
}
textarea#input_area{
    padding:10px;
    height:23vh;
    width:90vw;
    resize:both;
    border-radius: 7px;
    background-color:#fafafa;
    border:none;
}

p#output_area{
    padding:10px;
    text-align:left;
    border: none;
    border-radius:7px;
    height: 55vh;
    width: 90vw;
    overflow: scroll;
    resize:both;
    background-color:#ffffff;
    color:#000000;
    margin: 0 auto;
}
